body{
    margin: 0;
    background-color: rgb(92, 92, 97);
    
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;

}
p{
    margin: 0 0 10px 0;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
.font_total{
    font-size: 34px;
}
.align{
    margin: 50px;
}
.table_item{
    padding: 5px;
}
.table{
    font-family: 'Fredoka', sans-serif;
    margin-top: 30px;
    margin: 40px;
    padding-top: 30px;
}
.sql_icon{
    height: 100px;
    margin-left: 40px;
    margin-top: 10px;
}
.font{
    margin-right: 100px;
    font-size: 30px;
    font-family: 'Fredoka', sans-serif;
}
.bold{
    font-weight: 700;
}
.description{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
}
.title{
    display: flex;
    padding: 5px;
    font-family: 'Fredoka', sans-serif;
    width: 100%;
    font-size: 30px;
    justify-content: center;
}
.height{
    height: 60%;
}
.content{
    display: block;
    background-color: #fff;
}

.input__wrapper {
    width: 100%;
    position: relative;
    text-align: center;
  }
   
  .input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
   
  .input__file-icon-wrapper {
    height: 50px;
    width: 50px;
    margin-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-right: 1px solid #fff;
  }
   
  .input__file-button-text {
    line-height: 1;
    margin-top: 1px;
  }
   
  .input__file-button {
    width: 100%;
    max-width: 290px;
    height: 100%;
    background: #859deb;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 auto;
  }